@model WebApp.ViewModels.Carrera.VM_CreateCarrera

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Carrera</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Carrera.Id" />
            <div class="form-group">
                <label asp-for="Carrera.Codigo" class="control-label"></label>
                <input asp-for="Carrera.Codigo" class="form-control" />
                <span asp-validation-for="Carrera.Codigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Carrera.idEscuela" class="control-label"></label>
                <select asp-for="Carrera.idEscuela" asp-items="@(new SelectList(Model.Escuelas,"Id","Nombre",Model.Carrera.idEscuela))"></select>
                <span asp-validation-for="Carrera.idEscuela" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Carrera.Nombre" class="control-label"></label>
                <input asp-for="Carrera.Nombre" class="form-control" />
                <span asp-validation-for="Carrera.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Carrera.Detalles" class="control-label"></label>
                <input asp-for="Carrera.Detalles" class="form-control" />
                <span asp-validation-for="Carrera.Detalles" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Carrera.Estado" />
            @*<div class="form-group">
            <label asp-for="Carrera.Estado" class="control-label"></label>
            <input asp-for="Estado" class="form-control" />
            <span asp-validation-for="Estado" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
}
